RewriteEngine On

# Chặn truy cập vào các tệp
RewriteRule ^autoload\.php$ - [F,L]
RewriteRule ^config\.php$ - [F,L]
RewriteRule ^example.config\.php$ - [F,L]

# Chặn truy cập vào các thư mục
RewriteCond %{REQUEST_URI} ^/(controllers|models|views)/ [NC]
RewriteRule ^ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển đến trang mặc định
DirectoryIndex index.php

# Luật chuyển đổi
RewriteRule ^(.+)$ /index.php?act=$1 [QSA,L]